* {
  font-family: 'Arial';
}

body {
    margin: 20px;
}

table {
  border: 1px solid black;
}

input {
  width: 300px;
}

tr:hover {
  background: #EEE;
}

td, td > input {
  width: 100px;
}

td:last-child {
  width: 30px;
}

button.delete {
  cursor: pointer;
  float: right;
}

textarea {
  width: 500px;
  height: 300px;
}

#export {
  position: absolute;
  top: -10000px;
}

#checkins-select {
  display: inline-block;
  width: 350px;
  font-size: 13px;
}

#task-input {
  position: relative;
  height: 30px;
}
